<h1>Simulation Data</h1>

<table>
  <thead>
  <tr>
    <th>Year</th>
    <th>Servers</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let state of allStates">
    <td>{{ state.year }}</td>
    <td>
      <ul>
        <li *ngFor="let server of state.servers">
          {{ server.name }} ({{ server.usersPerMonth }} users/month)
        </li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>

<div>
  <button (click)="createSimulation()">Create Simulation</button>
  <button *ngIf="selectedSimulationId" (click)="startSimulation()">Start Simulation</button>
  <button *ngIf="selectedSimulationId" (click)="getSimulation()">Show Simulatio resultn</button>  
</div>

<br>

<div>
  <label>Result:</label>
</div>
<div>
  <textarea style="width: 100%; height: 300px;">{{ resultTextarea }}</textarea>
</div>

<!--<select [(ngModel)]="selectedSimulationId" name="simulationSelect">
  <option value="">Select Simulation</option>
</select>-->
