<h1>Simulation Data</h1>

<div>
  <label>Simulation year:&nbsp;</label>
  <input type="number" [(ngModel)]="fediverseState.year" />
</div>

<div>
  <label for="servers">Servers:</label>
  <div *ngFor="let server of fediverseState.servers; let index = index">
    <input type="text" [(ngModel)]="server.name" name="serverName{{index}}">
    <input type="number" [(ngModel)]="server.usersPerMonth" name="usersPerMonth{{index}}">
  </div>
  <div>
    <button type="button" (click)="addServer()">Add</button>
  </div>
</div>

<br>

<div>
  <button (click)="startSimulation()">Start Simulation</button>
  <button *ngIf="selectedSimulationId" (click)="getSimulation()">Show Simulatio resultn</button>  
</div>

<br>

<div>
  <label>Result:</label>
</div>
<div>
  <textarea style="width: 100%; height: 300px;">{{ resultTextarea }}</textarea>
</div>

<!--<select [(ngModel)]="selectedSimulationId" name="simulationSelect">
  <option value="">Select Simulation</option>
</select>-->
