<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h1>FediSim</h1>
    </div>

    <div class="card-body">
      <div class="form-group">
        <h3 for="year">Simulation year:</h3>
        <input type="number" [(ngModel)]="fediverseState.year" class="form-control" id="year">
      </div>

      <br>

      <div class="form-group">
        <h3 for="servers">Servers:</h3>
        <div *ngFor="let server of fediverseState.servers; let index = index">
          <div class="row">
             <div class="col-md-6">
              <input type="text" [(ngModel)]="server.name" class="form-control" id="serverName{{index}}" placeholder="Server Name">
            </div>
            <div class="col-md-6">
              <input type="number" [(ngModel)]="server.usersPerMonth" class="form-control" id="usersPerMonth{{index}}" placeholder="Users Per Month">
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-secondary mt-3" (click)="addServer()">Add Server</button>

      <br><br>

      <div class="mt-3">
        <button class="btn btn-primary mr-2" (click)="startSimulation()" *ngIf="!isLoadingSimulationResult">Start Simulation</button>
      </div>
      <div *ngIf="isLoadingSimulationResult">
        Loading ...
      </div>

      <br>

      <div class="card shadow mb-4" *ngIf="fediverseHistoryResult">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Simulation of Fediverse History</h6>
        </div>
        <div class="card-body">
          <div *ngFor="let fediverseState of fediverseHistoryResult?.fediverseStates; let index = index">
            <div class="row">
              <div class="col-md-12">
                <h5>Jahr&nbsp;{{ fediverseState.year }}</h5>
              </div>
            </div>
            <div *ngFor="let server of fediverseState.servers;">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="serverName">Server Name:&nbsp;</label>
                    <span id="serverName">{{ server.name }}</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="usersPerMonth">Users Per Month:&nbsp;</label>
                    <span id="usersPerMonth">{{ server.usersPerMonth }}</span>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>
